.container {
    padding-top: 20px;
}

.centrato {
    margin: auto;

}

.form-inline {
    width: auto;
}

.form-row {
    padding: 10px;
    margin: 10px;
}

.form-row button {
    margin: 10px;
}

.form-row form-group {
    margin: 10px;

}

.form-row input {
    margin-top: 10px;

}

.nascosto {
    display: none;
}